// Define variables for your color scheme

// For example:
$red: #F4665F;
$taupe: #C1B2A4;
$clair: #F3EFE6;
$brown: #B69777;
$green-light: #64A686;
$green-medium: #539575;
$green: #3E8161;
$zinc: #485968;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;
