<div class="typeform-widget" data-url="https://hacktivistes.typeform.com/to/R6isYG" style="width: 100%; height: 700px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com//?utm_campaign=R6isYG&amp;utm_source=typeform.com-11473698-Pro&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=FR" style="color: #999" target="_blank">Typeform</a> </div>


<!--<form>

						<!--chemise-->
                        <!--<div class="form-group">
							    <div class="control-label"><label for="chemise" class="cols-sm-2">Chemise tous tissus / Lavage – Repassage - Sur cintre</label></div>
								<div class="cols-sm-4">
									    <div class="input-group">
										<span class="input-group-addon"><img src="https://png.icons8.com/chemise/win10/20/000000"></span>
											<input type="number" class="form-control" name="chemise" id="chemise" placeholder="par exemple 4,5">
									</div>
								    </div>
		                </div>-->
						
						
						
						
						
						
						
						
						
						
						<!--fin des prix-->
						<!--Nom du pressing-->						
					<!--	<div class="form-group">
							<div class="control-label"><label for="name" class="cols-sm-2">Nom ou marque du Pressing</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
											<input type="text" class="form-control" name="name" id="name" placeholder="ex: Pressing de la Source">
									</div>
								</div>
						</div>-->
						
						<!--Adresse-->							
						<!--<div class="form-group">
							<div class="control-label"><label for="adresse" class="cols-sm-2">Adresse de l'établissement</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
											<input type="text" class="form-control" name="adresse" id="adresse" placeholder="ex: 8 rue du Faubourg Saint-Honoré">
									</div>
								</div>
						</div>-->							
						
						<!--Email-->
						<!--<div class="form-group">
							<div class="control-label"><label for="email" class="cols-sm-2">Email de contact</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
											<input type="text" class="form-control" name="email" id="email" placeholder="email">
									</div>
								</div>
						</div>-->
						
						<!--Téléphone-->
						<!--<div class="form-group">
							<div class="control-label"><label for="phone" class="cols-sm-2">Téléphone</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
											<input type="text" class="form-control" name="username" id="username" placeholder="Numéro auquel on peut vous joindre">
									</div>
								</div>
						</div>-->
						
						<!--Password-->				
						<!--<div class="form-group">
							<div class="control-label"><label for="password" class="cols-sm-2">Mot de passe</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input type="password" class="form-control" name="password" id="password" placeholder="Votre mot de passe">
									</div>
								</div>
						</div>

						<div class="form-group">
							<div class="control-label"><label for="confirm" class="cols-sm-2">Confirmez votre mot de passe</label></div>
							
								<div class="cols-sm-4">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirmez votre mot de passe">
									</div>
								</div>
						</div>-->
						
						
				<!--	</form>
					</div>
					  

<form>-->-->