<div class="banner" style="background-image: linear-gradient(-225deg, rgba(243, 239, 230,0.7) 10%, rgba(182, 151, 119, 0.3) 40%), url('http://res.cloudinary.com/dekpbnhj9/image/upload/v1512386926/filles_uylrix.jpg');">
  <div class="banner-content">
    <h1> <i class="fa fa-star" aria-hidden="true"> Mes fringues toujours parfaites  <i class="fa fa-star" aria-hidden="true"></h1>
    <p></p>
    <a class="btn btn-treehouse btn-lg">trouver mon pressing</i></a>
  </div>
</div>